div {
  height: 100px;
  width: 100px;
  border: 3.5px solid black;
  border-radius: 50px;
margin: 2px;
background-color: white;
}
h1 {
  display: inline;
  color: white;
  text-align: center;
}
h2 {
  display: inline;
  text-align: center;
}
button {
  display:inline;
  color: red;
  background-color: black;
}
body {
  background-color: #0066FF;
}
section {
  display: table-cell;
}
#player1{
  background-color: red;
}
#player2 {
  background-color: yellow;
}
